.container {
    display: grid;
    grid-template-rows: repeat(4, 25%);
    grid-template-columns: 1fr 2fr;
}

body {
    max-width: 100% !important;
    margin: auto auto;
    overflow-x: hidden;
}

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.nav {
    background-color: rgba(255,179,0 ,1);
    padding-top: 60px;
    grid-row: 1 / -1;
}

.home {
    padding-bottom: 40px;
}

h3 {
    background-color: rgba(38,50,56 ,1);
    color: rgba(255,179,0 ,1);
    padding: 5px 0px;
    margin-top: 60px;
}

.nav p {
    text-align: justify;
    padding: 10px 50px;
    margin-bottom: -15px;
    min-width: 350px;
}

.nav>img {
    border-radius: 10000px;
}

#about {
    margin-bottom: 300px;
}

h1 ~ h4 {
    font-size: 19px;
    text-align: left;
    margin-left: 52px;
}

h3 ~ i {
    font-size: 50px;
    margin: 30px 30px;
}

h1 {
    text-align: left;
    margin: 120px 0px -20px 50px;
}

#name {
    color: rgba(255,179,0 ,1);
}

#freelanceunderline {
    margin: -25px 0px 145px 53px;
    border-color: rgba(255,179,0 ,1);
    width: 45px; 
}

h2 {
    text-align: left;
    margin: 10px 0px 20px 50px;
}

h2>i {
    margin-right: 20px;
}

.homedivider {
    margin: -15px 75px 25px 45px;
    border-color: rgba(255,179,0 ,1);
}

.content-box {
    display: flex;
}

.left-info {
    float: left;
    text-align: left;
    padding-left: 50px;
}

.right-info { 
    float: right;
    text-align: left;
    padding: 10px 100px 0px 300px;
}

.date {
    display: inline-block;
    margin: 0px -250px 115px 20px;
    text-align: left; 
}

span {
    display: inline-block;
}

.place {
    text-align: left;
    margin: 0px 0px 10px 0px;
    display: inline-block;
    font-weight: bold;
    font-size: 17px;
    letter-spacing: 0.3px;
}

.role {
    text-align: left;
    font-size: 15px;
    margin-bottom: -0.1px; 
    letter-spacing: -0.3px; 
}

br ~ p {
    text-align: left;
    font-size: 15px;
    min-width: 450px;
}

.content-box>span {
    margin: 8px -50px 0px 50px;
}

 .content-box br ~ i{
    margin-top: 132px;
}

.reference {
    text-align: left;
    margin-right: -70px;
}

.right-info>.reference {
    margin-top: 5px;
}

@media only screen and (min-width: 481px) and (max-width: 800px) {
    .nav {
        grid-column: 1 / -1;
     }

     #freelanceunderline {
         display: inline-block;
         margin-left: -482px !important;
     }

     .right-info {
         margin-top: 40px;
         margin-left: -280px;
     }

     .homedivider {
        margin-right: -100px !important;
     }

     .content-box br ~ i {
         margin-top: 195px !important;
     }

     .left-info br ~ span {
         margin-top: 60px;
     }

     .right-info br ~ h4 {
         margin-top: 60px;
    }

    .reference {
        margin-top: 0px;
        margin-left: 35px;
    }

    .right-info>.reference {
        margin-left: 250px;
        margin-top: -50px !important;
    }

    #gymdate {
        margin-top: 60px;
    }

    #jobdescription {
        margin-bottom: 18px;
    }

    #gymdateicon {
        margin-top: 195px;
        margin-bottom: 140px;
    }
}

@media only screen and (max-width: 480px) {
    .nav {
        grid-column: 1 / -1;
     }

     h1 {
         padding-left: 40px;
         margin-left: -0.2px !important;
     }

     h1 ~ h4 {
        padding-left: 42px;
        margin-left: -0.2px !important;  
     }

     #freelanceunderline {
         display: inline-block;
         margin-left: -220px !important;
     }

     .homedivider {
         margin-right: 40px !important;
     }

     .right-info {
         margin-top: 40px;
         margin-left: -280px;
     }

     .content-box br ~ i {
         margin-top: 265px !important;
     }

     .left-info br ~ span {
         margin-top: 130px;
     }

     .right-info br ~ h4 {
         margin-top: 60px;
    }

    .right-info>.reference {
        margin-top: 140px !important;
        margin-left: -104px;
    }

    .reference {
        margin-top: 0px;
        margin-left: 35px;
    }

    .nav p {
        width: auto !important;
    }

    br ~ p {
        min-width: auto !important;
    }

    #gymdate {
        margin-top: 150px;
    }

    #jobdescription {
        margin-bottom: 18px;
    }

    #gymdateicon {
        margin-top: 285px !important;
        margin-bottom: 80px;
    }
}


