.container {
    display: grid;
    grid-template-rows: repeat(4, 25%);
    grid-template-columns: 30% 65%; 
}

html,body {
    width: 100% !important;
    margin: 0 0 0 0 !important;
    padding: 0 0 0 0 !important;
    overflow-x: hidden;
}

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.nav {
    background-color: rgba(255,179,0 ,1);
    padding-top: 60px;
    grid-row: 1 / -1;
}

.home {
    padding-bottom: 40px;
    width: 95%;
}

h3 {
    background-color: rgba(38,50,56 ,1);
    color: rgba(255,179,0 ,1);
    padding: 5px 0px;
    margin-top: 60px;
}

.nav p {
    text-align: justify;
    padding: 10px 50px;
    margin-bottom: -15px;
}

.nav article {
    text-align: justify;
    padding: 10px 50px;
    margin-bottom: 300px;
}


.nav>img {
    border-radius: 10000px;
}

h1 ~ h4 {
    font-size: 19px;
    text-align: left;
    margin-left: 52px;
}

h3 ~ i {
    font-size: 50px;
    margin: 30px 30px;
}

h1 {
    text-align: left;
    margin: 120px 0px -20px 50px;
}

.name {
    color: rgba(255,179,0 ,1);
}

h4>span {
    border-bottom: 2px solid rgba(255,179,0 ,1);
    margin-bottom: 125px;
}

h2 {
    text-align: left;
    margin: 10px 0px 20px 50px;
}

h2>i {
    margin-right: 20px;
}

.home-divider {
    width: 100%;
    margin: -15px 0px 25px 45px;
    border-color: rgba(255,179,0 ,1);
}

.content-box {
    display: flex;
}

.left-info {
    float: left;
    text-align: left;
    padding-left: 50px;
}

.right-info { 
    float: right;
    text-align: left;
    padding: 10px 150px 0px 300px;
}

_:-ms-lang(x), .right-info {
    padding-right: 600px;
}

.date {
    display: inline-block;
    margin: 0px -300px 115px 20px;
    text-align: left; 
}

span {
    display: inline-block;
}

.place {
    text-align: left;
    margin: 0px 0px 10px 0px;
    display: inline-block;
    font-weight: bold;
    font-size: 17px;
    letter-spacing: 0.3px;
}

.role {
    text-align: left;
    font-size: 15px;
    margin-bottom: -0.1px; 
    letter-spacing: -0.3px; 
}

br ~ p {
    text-align: left;
    font-size: 15px;
    min-width: 330px;
    max-width: 330px;
}

.content-box>span {
    margin: 8px -50px 0px 50px;
}

 .content-box br ~ i{
    margin-top: 133px;
}

#gym-date {
    margin-top: 19px;
}

#gym-date-icon {
    margin-top: 150px;
    margin-bottom: 145px;
}

.reference {
    text-align: left;
    margin-right: -100px;
    min-width: 180px;
}

.right-info>.reference {
    margin-top: 5px;
}

footer {
    font-size: 11px;
    padding: 5px;
    border-top: 2px solid black;
}

@media only screen and (min-width: 481px) and (max-width: 1024px) { 

    body {
        overflow-x: hidden;
    }

    .container {    
        grid-template-rows: repeat(4, 700px);
        grid-template-columns: repeat(auto-fit, minmax(500px, 100%));
    }

    .nav {
        grid-column: 1 / -1;
        grid-row: 1 / 3;
        max-height: 1250px;
     }

     .right-info {
        margin-top: 40px;
        margin-left: -280px;
     }

     .home-divider {
        width: 87vw;
     }

     .content-box br ~ i {
        margin-top: 195px;
     }

     .left-info br ~ span {
        margin-top: 60px;
     }

     .right-info br ~ h4 {
        margin-top: 60px;
    }

    br ~ p {
        max-width: 460px;
        min-width: 410px;
    }

    .reference {
        margin-top: 0px;
        margin-left: 35px;
    }

    .right-info>.reference {
        margin-left: 160px;
        margin-top: -50px;
    }

    #gym-date {
        margin-top: 60px;
    }

    #job-description {
        margin-bottom: 18px;
    }

    #gym-date-icon {
        margin-top: 195px;
        margin-bottom: 140px;
    }

    footer {
        margin: 70px 70px 0px 50px;
        min-width: 400px;
    }

    _:-ms-lang(x), footer {
        margin-top: -40px;
    }

}



@media only screen and (max-width: 480px) {

    body {
        overflow-x: hidden;
    }

    .container {
        grid-template-columns: repeat(auto-fit, minmax(300px, 100%));
        grid-template-rows: repeat(4, 730px);
    }

    .nav {
        grid-column: 1 / -1;
        grid-row: 1 / 3;
        max-height: 1700px;
     }

     h1 {
        padding-left: 40px;
        margin-left: -0.2px;
     }

     h1 ~ h4 {
        padding-left: 42px;
        margin-left: -0.2px;  
     }

     .home-divider {
        width: 70vw; 
     }

     .right-info {
        margin-top: 40px;
        margin-left: -280px;
     }

     .content-box br ~ i {
        margin-top: 265px;
     }

     .left-info br ~ span {
        margin-top: 130px;
     }

     .right-info br ~ h4 {
        margin-top: 60px;
    }

    .right-info>.reference {
        margin-top: 140px;
        margin-left: -100px;
    }

    .reference {
        margin-top: 0px;
        margin-left: 35px;
    }

    br ~ p {
        min-width: 170px;
        max-width: 170px;
    }

    #gym-date {
        margin-top: 150px;
    }

    #job-description {
        margin-bottom: 18px;
    }

    #gym-date-icon {
        margin-top: 285px !important;
        margin-bottom: 80px;
    }

    footer {
        margin: 490px 50px 0px 50px;
        min-width: 200px;
    }
    
    _:-ms-lang(x), footer {
        margin-top: -30px;
    }

}