@import "../utils/variables";

.btn {
    font-size: 60px;
    height: 12%;
    width: 110%;
    border: 3px solid black;
    border-radius: 10px;

        &--color {
            color: $main-color;
            background-color: $secondary-color;
        }
             
        @media only screen and (max-width: 1024px) {
            font-size: 45px;
            width: 19%;
    }

    :hover {
        transform: scale(1.10)
    }

    :visited {
        color: $main-color;
    }
}