@import "../utils/variables";

.btn {
    font-size: 60px;
    height: 12%;
    width: 110%;
    border: 3px solid black;
    border-radius: 10px;

        &--background-color {
            background-color: $secondary-color;
        }
             
        @media only screen and (max-width: 1024px) {
            font-size: 45px;
            width: 19%;
    }


}