@import "../utils/variables";

.btn {
    font-size: 60px;
    height: 15%;
    width: auto;
    border: 3px solid black;
    border-radius: 10px;

        &--color {
            background-color: $secondary-color;
        }

        :link {
            color: $main-color;
        }

        :hover {
            transform: scale(1.10);
        }

        :active {
            color: $main-color;
        }

        :visited {
            color: $main-color;
        }

        &--selected {

            :link {
                color: $selected-btn-color; 
            }

            :active {
                color: $selected-btn-color;
            }

            :visited {
                color: $selected-btn-color;
            }
        }

        @media only screen and (max-width: 1024px) {
            margin: 0 1%;
            font-size: 45px;
            width: 19%;
    }
}