@import "../utils/variables";

.left-menu {
    flex: 1;
    background-color: $main-color;
    padding-top: 150px;

    &__nav {
        display: flex;
        flex-flow: row;
        justify-content: space-around;
        padding: 2% 0;
        margin: -150px 0 20% 0;
        background-color: $secondary-color;

        @media only screen and (max-width: 1024px) {
           position: fixed;
           width: 100%;
        }

        &__btn {
            font-size: 50px;
            margin: 0 1%;

            :link {
                color: $main-color;
            }

            :hover {
                transform: scale(1.10)
            }

            :active {
                color: $main-color
            }

            :visited {
                color: $main-color;
            }

            &--selected {

                :link {
                    color: $selected-btn-color;
                }
    
                :active {
                    color: $selected-btn-color;
                }
    
                :visited {
                    color: $selected-btn-color;
                }
            }
        }
    }

    &__profile-picture {
        border-radius: 50000px;
        animation: opacity 3s;
    }

    &__info-heading {
        background-color: $secondary-color;
        color: $main-color;
        padding: 5px 0px;
        margin-top: 40px;
    }

    &__contact {
        text-align: justify;
        padding: 10px 50px;
    }

    &__about {
       text-align: left;
       padding: 10px 50px;
    }

    &__hobby-image {
        font-size: 50px;
        margin: 30px 30px;
    }
}

.right-menu {
    flex: 2;
    padding: 0 0 40px 0;
    width: 95%;

    &__heading {
        text-align: left;
        margin: 100px 0px -25px 25px;

        &--name-color {
            color: $main-color;
        }

        @media only screen and (max-width: 480px) {
            margin: 90px -1% -200px 2%;
            font-size: 27px;       
        }
        
        @media only screen and (max-width: 1024px) {
            margin: 120px -1% -20px 3%;       
         }
    }

    &__job-name {
        font-size: 19px;
        text-align: left;
        margin: 20px 0 100px 26px;

        &--underline {
            border-bottom: 2px solid $main-color;
        }

        @media only screen and (max-width: 480px) {
           margin-left: 3% !important;
        }

        @media only screen and (max-width: 1024px) {
            min-width: 200px;
            margin-left: 3%;
         }
    }

    &__info-heading {
        text-align: left;
    }

    &__info-heading-image {
        margin: 0 20px 0 6%;
    }

    &__info-heading-underline {
        width: 85%;
        margin: -20px 0px 25px 6%;
        
        &--color {
            border-color: $main-color;
        }
    }

     > .content-box {
        display: flex;
        flex-flow: row;
        text-align: left;
        margin: 0 0 -55px 10px;

        @media only screen and (max-width: 1024px) {
            margin-bottom: 10px;
        }

        > span {
            margin: 0 0 0 7%;
          
            > .date-icon-1 {
                margin: 30px 0 135px 0;
            }
        }
  
        .left-info {
            float: left;
            text-align: left;
            margin: 20px 0 0 10px;

            &__date {
                display: inline-block;
                margin: 0 -300px 115px 20px;
                text-align-last: left;

                @media only screen and (max-width: 1024px) {
                    margin: 0 -300px 115px -1%;
                }
            }

            &__reference {
                text-align: left;
                margin: 0 0 0 50px;
                min-width: 170px;

                @media only screen and (max-width: 480px) {
                    margin: 0 0 0 40px;
                }
            }
        }

        .right-info {
            float: right;
            text-align: left;
            padding: 30px 0 0 40%;
            width: 100%;

            @media only screen and (max-width: 1024px) {
                margin: 40px 0 0 -40%;
                float: none;
            }

            &__place {
                text-align: left;
                margin: 0 0 10px 0;
                display: inline-block;
                font-weight: bold;
                font-size: 17px;
                letter-spacing: 0.3px;
                min-width: 300px;

                @media only screen and (max-width: 1024px) {
                    margin-top: -10px;
                }

                &__2 {
                    margin-top: 105px;
                }
            }
        
            &__role {
                text-align: left;
                font-size: 15px;
                letter-spacing: -0.3px;
                min-width: 300px;
            }

            &__reference {
                text-align: left;
                margin: -10px 0 0 -150px;
                min-width: 150px;

                @media only screen and (max-width: 480px) {
                    margin: 140px 0px 0 -172px !important;
                }

                @media only screen and (max-width: 1024px) {
                    margin: -50px 0 0 70px;
                }
            }
        }
    } 
}

@keyframes opacity {
    0% {
        opacity: 0;
    } 
    100% {
        opacity: 1;
    }
}