$main-color: rgba(255,179,0 ,1);
$secondary-color: rgba(38,50,56 ,1);
$education-main-color: rgba(79,195,247 ,1);
$experience-main-color: rgba(240,98,146 ,1);
$portfolio-main-color: rgba(102,187,106 ,1);

