@import "../utils/variables";

.content {
    flex: 7;
    padding: 3% 2% 5% 2%;
    
    @media only screen and (max-width: 480px) {
        z-index: 0;
        padding: 25% 5% 5% 5% !important;
    }

    @media only screen and (max-width: 1024px) {
        z-index: 0;
        padding-top: 15%;
    }
    
    &__heading {

        &__title {
        text-align: left;
        }

        &__underline {
            margin: -20px 0 0 0;
       
            &--color {
                border-color: $main-color;
            }
        }
    }    

    &__info {
        display: flex;
        flex-flow: row-reverse;
        margin: 5% 0 0 0;
       
        @media only screen and (max-width: 1024px) {
            display: block;
        }
    
        &__description {
            margin: -2.5% 0 0 0;

            @media only screen and (max-width: 1024px) {
                margin: -1.5% 0 0 0;
            }

            > * {
                text-align: justify;
                min-width: 500px;
                
                @media only screen and (max-width: 1024px) {
                    min-width: auto;
                    max-width: auto !important;
                }
            }
        }                    

        &__image {
            display: flex;   
            justify-content: center;
            min-width: 450px;
            max-width: 500px;

            @media only screen and (max-width:1024px) {
                min-width: auto;
                max-width: none;
            }

            > img {
                width: 90%;
                transform-origin: left;
                animation: slide 1000ms 500ms backwards;

                @media only screen and (max-width: 1024px) {
                    width: 100%;
                }
            }
        }
    }

    &__divider {
        margin: 6% 0 0 0;

        &--color {
            border-color: $main-color;
        }
    }
}

@keyframes slide {
    0% {
        transform: scaleX(0);
    }

    100% {
        transform: scaleX(1);
    }
}