@import "../utils/variables";

footer {
    font-size: 11px;
    padding: 5px;
    border-top: 2px solid black;

    > div {
        display: flex;
        flex-flow: row wrap;

        @media only screen and (max-width: 1024px) {
            display: block;
        }
        
        > * {
            flex: 1;
            border: 2px solid $main-color;
            font-size: 16px;
            padding: 0 1%;
            margin: 1% 0.5%;
        }
    }
}