footer {
    font-size: 11px;
    padding: 5px;
    border-top: 2px solid black;

    > div {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        
        > * {
            border: 2px solid $main-color;
            font-size: 16px;
            padding: 0 1%;
        }
    }
}