.header {
    display: flex;
    flex-flow: column;
    align-items: center;
    flex: 1 0 125px;
    padding: 1% 0 0 0;

    &--color {
        background-color: $main-color;
    }   
    
    @media only screen and (max-width: 1024px) {
        display: block;
        position: fixed;
        width: 100%;
        z-index: 1;
    }        

    > .nav {
        display: flex;
        flex-flow: column;
        justify-content: space-around;
        position: fixed;
        height: 78%;
        width: 8%;

        @media only screen and (max-width: 1024px) {
            flex-flow: row;
            position: static;
            padding: 3% 0;
            width: auto;
        }
    }
}
